<p><%= @group.title %></p>

<% if current_user && current_user.is_member_of?(@group) %>
  <label>群组成员</label>
  <%= link_to("退出群组", quit_group_path(@group), method: :post) %>
<% else %>
  <label>不是群组成员</label>
  <%= link_to("加入群组", join_group_path(@group), method: :post) %>
<% end %>
